.checkout-card {
    background-color: $background;
    border-radius: 4px;
    padding: 8px 10px 8px 12px;
    position: relative;
    .checkout-header {
        margin-bottom: 8px;
        .checkout-title{
            @include text-style(13,$primary);
            font-weight: 400;
            padding-right: 36px - 10px;
        }
        .delete-button {
            @include inline-flexbox();
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: $secondary;
            position: absolute;
            top: 8px;
            right: 8px;
            &:hover,&:active {
                opacity: 0.4;
            }
        }
    }
    .checkout-footer {
        @include flexbox(between);
        .checkout-select {
            position: relative;
            display: inline-block;

            &:hover {
                select {
                    border: 1px solid $tertiary;
                }
                i {
                    color: $secondary;
                }
            }
            select {
                @include text-style(14, $primary);
                line-height: 1;
                width: 72px;
                height: 24px;
                padding: 0 8px;
                background-color: $white;
                border: 1px solid $border;
                border-radius: 3px;
                appearance: none;
                transition: border-color 100ms ease-in-out;
            }
            i {
                @include pos-center-y;
                right: 2px;
                font-size: 20px;
                color: $tertiary;
                pointer-events: none;
                transition: color 100ms ease-in-out;
            }
        }
    }

    @include responsive(D) {
        .checkout-header {
            .checkout-title{
                @include text-style(16,$primary);
            }
        }
    } 
}