.inquiry-card {
    padding-bottom: 20px;
    &-header {
        @include text-style(12);
        margin-bottom: 8px;
        .detail {
            @include flexbox(start);
            color: $primary;
            margin-bottom: 8px;
            dd {
                &:after {
                    content: '|';
                    margin:0 4px;
                }
                &:last-child {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .misc {
            @include flexbox(start);
            color: $tertiary;
            strong {
                font-weight: 400;
                &:after {
                    content: '|';
                    margin:0 4px;
                }
            }
        }
    }
    &-body {
        @include text-style(13);
        .question-content {
            position: relative;
            padding-left: 20px;
            span {
                color: $blue;
                font-weight: 700;
                position: absolute;
                top: 0;
                left: 0;
            }
            p {
                color: $primary;
            }
        }
    }
    @include responsive(T) {
        &-header {
            margin-bottom: 20px;
        }
        &-body {
            @include text-style(14);
            .question-content {
                padding-left: 24px;
                span{
                    @include text-style(16);
                }
            }
        }
    }
}