.inquiry-card {
    padding-bottom: 40px;

    &-header {
        @include text-style(12);
        margin-bottom: 8px;

        .detail {
            @include flexbox(start);
            color: $primary;
            margin-bottom: 8px;

            dd {
                &:after {
                    content: '|';
                    margin: 0 4px;
                }

                &:last-child {
                    &::after {
                        content: none;
                    }
                }
            }
        }

        .misc {
            @include flexbox(start);
            color: $tertiary;

            strong {
                font-weight: 400;

                &:after {
                    content: '|';
                    margin: 0 4px;
                }
            }
        }
    }

    &-body {
        @include text-style(13);

        .inquiry-content {
            position: relative;
            padding-left: 20px;

            &:first-child:not(:last-child) {
                margin-bottom: 12px;
            }

            span {
                color: $blue;
                font-weight: 700;
                position: absolute;
                top: 0;
                left: 0;
            }

            p {
                @include flexbox(start);
                color: $primary;

                i {
                    color: $tertiary;
                    font-size: 16px;
                    margin-right: 8px;
                }
            }

            .seller {
                @include flexbox(start);
                margin-bottom: 4px;

                strong {
                    margin-right: 4px;
                }

                time {
                    @include text-style(12, $tertiary)
                }
            }
        }
    }

    @include responsive(T) {
        &-header {
            margin-bottom: 20px;
        }

        &-body {
            @include text-style(14);

            .inquiry-content {
                padding-left: 24px;

                &:first-child:not(:last-child) {
                    margin-bottom: 16px;
                }

                span {
                    @include text-style(16);
                }

                .seller {
                    margin-bottom: 8px;

                    strong {
                        @include text-style(16);
                    }
                }
            }
        }
    }
}