.product-shipment {
    @include mobile-only {

        .product-section,
        .product-section-divider:last-child {
            display: none;
        }
    }

    &.is-open {
        >.product-section-header {
            display: none;
        }

        .product-section,
        .product-section-divider:last-child {
            display: block;
        }
    }
}