.floating-order-form {
    @include flexbox(start,start);
    flex-direction: column;
    height: 700px; // temp
    background-color: hotpink;
    > * {
        width: 100%;
    }
    .order-inputs,.order-summary,.button-group {
        flex-shrink: 0;
        flex-grow: 0;
    }
    .order-checkout {
        flex-grow: 1;
        overflow-y: auto;
        &::-webkit-scrollbar {display: none;}
    }
    .button-group {
        .bookmark-button {
            width: 55px;
            border:1px solid $border;
            border-radius: 4px;
            transition: background-color 200ms ease-in-out;
            flex-shrink: 0;
            flex-grow: 0;

             i {
                font-size: 32px;
                color: $primary;
             }

             &.is-active {
                i {
                    color: $blue;
                }
             }
             &:hover {
                background-color: $background;
             }
        }
    }
}