.lnb {
    $lnb-link-padding: 8px;
    $grid-margin: $sm-margin + $gutter / 2;

    overflow-x: scroll;
    @include no-scrollbar;
    
    &-list {
        @include inline-flexbox(start); 
        white-space: nowrap; 
        border-bottom: 1px solid $border;
        height: 40px;
        margin-left: -#{$grid-margin};
        padding: 0 #{$grid-margin - $lnb-link-padding};
    }
    &-item {
        // flex-shrink: 0;
        a {
            @include inline-flexbox; 
            @include text-style(13, $dark);
            font-weight: 700;
            height: 40px;
            padding: 0px $lnb-link-padding;
            border-bottom: 2px solid transparent;
        }
        &.is-active {
            a {
                color: $blue;
                border-color: $blue;
            }
        }
    }
}