.order-form-modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 75vh;
    overscroll-behavior: contain;
    overflow-y: auto;
    background-color: $white;
    z-index: $order-form-modal-level;
    padding-top: 16px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.15);


    &.is-open {
        display: block;
        animation-name: modal-fade-in;
        animation-duration: 300ms;
    }
    
    .order-inputs {}
    .order-checkout {
        margin-bottom: 16px;
    }
    .order-summary {
        margin-bottom: 16px + (4px * 2) +16px;
    }
    .button-group {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $white;
        padding: 4px;
    }

    @include responsive(T) {
        padding-top: 32px;
    }
}

@keyframes modal-fade-in {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}